:root {
  --font-family: 'Roboto', sans-serif;

  --primary-txt-cl: #ffffff;
  --black-cl: #000000;
  --accent-cl: #ff6b08;
  --light-txt-cl: #545454;

  --hero-bg: rgba(0, 0, 0, 0.56);
  --primary-bg: #ffffff;
  --footer-bg: #f7f7f7;

  --input-cl: rgb(255, 255, 255, 0.7);
  --pagination-bg: #ff6b08d3;
}
