<header class="page-header">

    <div class="page-header__container container">

        <div class="wrapper-header">

            <!-- Logo -->
            <a href="./index.html" class="logo link">
                <svg class="logo__icon">
                    <use href="./images/sprit.svg#icon-logo-film"></use>
                </svg>
                <span class="logo__title">Filmoteka</span>
            </a>

            <!-- Navigation -->
            <nav class="navigation">
                <ul class="navigation__list list">

                    <li class="navigation__item item">
                        <a href="./index.html" class="navigation__link link ">Home</a>
                    </li>
                    <li class="navigation__item item">
                        <a href="./library.html" class="navigation__link link link__active">my library</a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class='wrapper-btn'>
          <button class='btn btn__dark-mode btn_watched'>Watched</button>
          <button class='btn btn__dark-mode btn_queue'>queue</button>
        </div>
    </div>
</header>